<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lyft</title>
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <main id="main-register">


    <div class="container-fluid hero-image vh-100">
      <div class="row">
        <div class="col-xs-12 text-center pd-bootom-30">
          <img src="../assets/images/logo-white.png" class="img-responsive vh-10 inline" alt="" >
        </div>
        <div class="col-xs-12 text-center pd-bootom-30">
          <img src="../assets/images/logo-pink.png" class="img-responsive vh-20 inline" alt="">
        </div>
        <div class="col-xs-12 text-center ">
          <a class="btn btn-default btn-register text-uppercase" href="#" role="button">Log in</a>
          <a class="btn btn-default btn-register text-uppercase" href="#" role="button">Sign Up</a>
        </div>
      </div>
    </div>
  </main>
  <script src="../vendors/librerias/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/register.js"></script>
</body>
</html>
