<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lyft singup</title>
  <link rel="shortcut icon" type="image/y-icon" href="./assets/images/logo-pink.png">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div class="container-fluid hero-imagen vh-100">
    <div class="row">
      <!-- Logo lyft blanco -->
      <div class="col-xs-12 text-center pd-bootom-30">
        <img src="../assets/images/logo-white.png" class="img-responsive vh-10 dp-inline" alt="logo lyft" >
      </div>
      <!-- Logo lyft rosado -->
      <div class="col-xs-12 text-center pd-bootom-30">
        <img src="../assets/images/logo-pink.png" class="img-responsive vh-20 dp-inline" alt="logo lyft">
      </div>
      <!-- Botones de acceso -->
      <div class="col-xs-12 text-center">
        <a class="btn btn-default btn-login text-uppercase" href="#" role="button">Log In</a>
        <a class="btn btn-default btn-singup text-uppercase" href="#" role="button">Sing Up</a>
      </div>
    </div>
  </div>
  <script src="../vendors/librerias/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/singup.js"></script>
</body>
</html>
