<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lyft - Verify number</title>
  <link rel="shortcut icon" type="image/y-icon" href="./assets/images/logo-pink.png">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="../assets/icons/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body class="vh-100 flex">
  <!-- Formulario para verificar el número -->
  <form id="verify-number" class="form-horizontal container-fluid">
    <div class="form-group mg-bottom-0">
      <button type="button" class="btn btn-prev-register-number col-xs-1">
        <i class="fa fa-chevron-left fa-lg"></i>
      </button>
      <div class="col-xs-10 text-center">
        <h3>Verify phone number</h3>
        <p>Join now for free ride credit</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <hr class="mg-top-0">
      </div>
    </div>
    <!-- Celdas para ingresar el código -->
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-7 input-group">
        <div id="botones" class="input-group-addon bor-none bg-none">LAB - </div>
        <input type="text" class="form-control cell-number text-center primerDig digit-one" maxlength="1">
        <div class="input-group-addon pd-1 bor-none bg-none"></div>
        <input type="text" class="form-control cell-number text-center segundoDig digit-two" maxlength="1">
        <div class="input-group-addon pd-1 bor-none bg-none"></div>
        <input type="text" class="form-control cell-number text-center tercerDig digit-three" maxlength="1">
      </div>
      <div class="col-xs-12 text-center">
        <span class="help-block">Enter the code sent to +52</span>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-resend center-block">Resend code</button>
    </div>
  </form>
  <button type="button" class="btn btn-next btn-next-verify-number btn-lg btn-block text-uppercase">next</button>
  <script src="../vendors/librerias/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/verifynumber.js"></script>
</body>

</html>
